extend layout

block content
 center
  h1 Your Recipe
  p Filipino recipe
  p
    
    |  
    a#add.btn.btn-default(href="/recipes/add") Add new
    br
    br
    h4#nrec.center
  table.table
    thead
      tr
        th
        th Recipe Name
        th Created Date
        th Updated Date
    tbody#data